extends layout

block content
    h1 #{heading}
    form(method='POST', action='/refills/add')
        //- bootstrap class
        #form-group
            label Location:
            input.form-control(name='location', type='text')
        #form-group
            label Amount(litres):
            input.form-control(name='amount', type='text')
        #form-group
            label Cost(EUR):
            input.form-control(name='cost', type='text')
        br
        input.btn.btn-primary(type='submit', value='Submit')
