extends layout

block content
    h1 Edit refill
    form(method='POST', action='/refills/edit/'+refill._id)
        //- bootstrap class
        #form-group
            label Location:
            input.form-control(name='location', type='text', value=refill.location)
        #form-group
            label Amount(litres):
            input.form-control(name='amount', type='text', value=refill.amount)
        #form-group
            label Cost(EUR):
            input.form-control(name='cost', type='text', value=refill.cost)
        br
        input.btn.btn-primary(type='submit', value='Submit')
