extends layout

block content
    h3 Gas station: #{refill.location}
    p Litres #{refill.amount}
    p Cost #{refill.cost}
    hr
    a.btn.btn-primary(href='/refills/edit/'+refill._id) Edit
    a.btn.btn-danger.delete-refill(href='#', data-id=refill._id) Delete
