/* for login error */
.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

/* for login success */
.alert-succes_msg {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
